Perceptron_Lab/myCode.py
Perceptron_Lab/temp.txt
Perceptron_Lab/Q2.py
Perceptron_Lab/Q3.py
Perceptron_Lab/Q4.py
Perceptron_Lab/Q5.py
Perceptron_Lab/__pycache__/

Backpropagation_lab/test.py
Backpropagation_lab/__pycache__/
Backpropagation_lab/class_check.py
Backpropagation_lab/split.py
Backpropagation_lab/iris_trim.arff



